@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Karla&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-family: 'Karla', sans-serif;
}
/*Nav bar styles */
header{
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.top{
    padding-left: 10px;
}
/* Card styles */
.card{
    margin: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #F5F5F5
}
.right-side{
    padding-left: 20px;
}
.location-top{
    display: flex;
    align-items: center;
}
.place{
    padding: 10px;
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 1rem;
    color: #2B283A;
}

.link{
    text-decoration-line: underline;
    font-weight: 400;
    font-size: 1rem;
    line-height: 12px;
    color: #918E9B;
}
.title{
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 30px;
    padding: 5px;
    color: #2B283A;
}
.duration{
    font-weight: 700;
    font-size: 1rem;
    line-height: 12px;
    padding: 5px;
    color: #2B283A;
}
.description{
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    /* or 15px */
    padding: 5px;

    color: #2B283A;
}